@page "/"

<PageTitle>Eat my entire ass</PageTitle>

<div class="hstack justify-content-center gap-5 p-3 bg-light">
    <p class="fs-1 mb-0 text-center">
        Entire asses eaten: 
        <strong>
            @assesEaten
        </strong>
    </p>
    <button class="float-end btn btn-primary" title="What the hell is this?" @onclick="OnShowModalClick">
        What is this?
    </button>
</div>

<div class="container-fluid h-100" @onclick="EatPiece">
    <div class="vstack justify-content-center align-content-center h-100 text-center">
        <p class="display-4 fw-light text-center mb-0">
            Eat my entire ass!
        </p>
        <p class="fs-6">
            @if(piecesEaten < pieces.Count())
            {
                @: (click to <strong>eat</strong> ass)
            }
            else
            {
                @: (click to <strong>finish</strong> ass)
            }
            <br/>
            <img class="img-fluid" src="/images/@pieces[piecesEaten]" width="600" />
        </p>
    </div>
</div>

<Modal @ref="modal"IsVerticallyCentered="true">
    <HeaderTemplate>
        <h5 class="modal-title text-peach">
            <span class="fa-layers fa-fw me-3">
                <i class="fas fa-circle" data-fa-transform="left-3"></i>
                <i class="fas fa-circle" data-fa-transform="right-3"></i>
                <i class="fas fa-circle text-dark" data-fa-transform="shrink-12"></i>
            </span>
            Butt why?
        </h5>
    </HeaderTemplate>
    <BodyTemplate>
        Don't ask. Eat ass.
        <div class="hstack justify-content-end">
            <Button Color="ButtonColor.Primary" @onclick="CloseThanEatPiece">
                Ok <i class="fas fa-teeth-open ms-3"></i>
            </Button>
        </div>
    </BodyTemplate>
</Modal>

@code {
    Modal modal;

    int assesEaten = 0;
    int piecesEaten = 0;

    List<string> pieces = new()
    {
        "entire_ass.png",
        "chunk1.png",
        "chunk2.png",
        "chunk3.png",
        "chunk4.png",
        "chunk5.png",
        "chunk6.png",
        "chunk7.png",
        "chunk8.png",
        "chunk9.png",
        "chunk10.png",
        "chunk11.png",
        "chunk12.png",
        "hole.png",
    };

    void EatPiece()
    {
        if(piecesEaten == 13)
        {
            piecesEaten = 0;
            ++assesEaten;
        }
        else
        {
            ++piecesEaten;
        }
    }

    async Task OnShowModalClick()
    {
        await modal?.ShowAsync();
    }

    async Task OnHideModalClick()
    {
        await modal?.HideAsync();
    }

    async Task CloseThanEatPiece()
    {
        await modal?.HideAsync();
        EatPiece();
    }
}