<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Disable Browser Link completely -->
    <add key="vs:EnableBrowserLink" value="false" />
    <add key="ASPNETCORE_HOSTINGSTARTUPASSEMBLIES" value="" />
    <add key="DOTNET_USE_BROWSER_LINK" value="false" />
  </appSettings>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="false" />
  </system.webServer>
</configuration>