@code{
    public BSModal? Modal;
}

<BSModal @ref="Modal" Id="aboutModal" IsVerticallyCentered="true">
    <Header>
        <h5 class="modal-title">
            <i class="fas fa-user"></i>
            Who's responsible for this?
        </h5>
    </Header>
    <Body>
        Some dude behind a keyboard with way too much time on his hands.
        <div class="hstack justify-content-end">
            <button type="button" class="btn btn-primary" @onclick="async () => await Modal?.Hide()">
                Makes Sense <i class="fas fa-check ms-3"></i>
            </button>
        </div>
    </Body>
</BSModal>
