@code {
    [Parameter] public EventCallback OnShowHelpDialog { get; set; }
    [Parameter] public EventCallback OnShowAboutDialog { get; set; }
}

<nav class="navbar navbar-expand game-navbar">
    <div class="container-fluid px-2 px-md-3">
        <h1 class="navbar-brand game-logo m-0">
            <a href="#" class="d-flex align-items-center gap-2 text-white text-decoration-none">
                <img src="/icon-192.png" alt="EMEA" width="35" class="d-inline-block" />
                <span>EMEA</span>
            </a>
        </h1>
        
        <div class="navbar-nav ms-auto gap-2">
            <button class="nav-button" @onclick="() => OnShowHelpDialog.InvokeAsync()">
                <i class="fas fa-book-open"></i>
            </button>
            
            <button class="nav-button" @onclick="() => OnShowAboutDialog.InvokeAsync()">
                <i class="fas fa-user"></i>
            </button>
        </div>
    </div>
</nav>
